.idea
.git
node_modules
pnp
_templates
Dockerfile.*
docker-compose.*.yml
.nvmrc
.editorconfig
.gitignore
.prettierrc
.prettierignore
.env*.local

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.vercel
.next
out
build
coverage

.DS_Store
*.pem
