html,
body {
	background-color: $background_color;
}

#__next {
	font-family: Menlo, Monaco, Lucida Console, Liberati Bitstream Vera Sans Mono,
		Courier New, monospace;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
