.component {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title {
		margin: 0;
		line-height: 1.15;
		font-size: 4rem;

		.accent,
		a {
			color: $primary_color;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}

	.description {
		margin: 4rem 0;
		line-height: 1.5;
		font-size: 1.5rem;
	}

	.title,
	.description {
		text-align: center;
	}

	.code {
		background: #fafafa;
		border-radius: 5px;
		padding: 0.75rem;
		font-size: 1.1rem;
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;

		@media (max-width: 600px) {
			width: 100%;
			grid-template-columns: 1fr;
		}

		.card {
			height: 100%;
			padding: 1.5rem;
			text-align: left;
			color: inherit;
			text-decoration: none;
			border: 1px solid #eaeaea;
			border-radius: 10px;
			transition: 0.4s ease;

			&:hover,
			&:focus,
			&:active {
				color: $primary_color !important;
				border-color: $primary_color;
				background-color: transparent !important;
			}

			&.monorepo {
				color: $background_color;
				background-color: $secondary_color;
			}

			h2 {
				margin: 0 0 1rem 0;
				font-size: 1.5rem;
			}

			p {
				margin: 0;
				font-size: 1.25rem;
				line-height: 1.5;
			}
		}
	}
}
